// $goo: #e445a3;
// div {
//     border:2px solid $goo;
//     div {
//         border:3px dotted green;
//     }
// }
/* transition classes for page transitions */
.pagechange-enter-active,
.pagechange-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}
.pagechange-enter,
.pagechange-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}